* {
  font-family: sans-serif;
}

.html {
  position: relative;
  min-height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 70px;
}

.header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .logo img {
  height: 100%;
}

.header span {
  font-size: 1.5em;
}

.header .a_propos {
  width: 18vw;
  display: flex;
  justify-content: space-around;
}

.header .a_propos .circle {
  width: 13%;
  height: 60%;
  background-color: white;
  border-radius: 90px;
  margin: 0 20px;
}

.header h1 {
  font-style: bold;
}

#leaflet {
  position: absolute;
  width: 100%;
  height: 60vh;
  z-index: 0;
}

.corps {
  display: flex;
  flex-direction: row;
}

.corps .titre{
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;
}

.page {
  display: flex;
  flex-direction: row;
  min-width: 100vw;
  height: 600px;
}

.page .map {
  background-image: url("https://skillsofthemodernage.com.au/img/resources/anim-icons/map/animat-map-color.gif");
  width: 100vw;
  height: 60vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.page .description {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.page .description .info {
  background: black;
  height: 35vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  float:right;
}


.page .description .info .normal {
  color: white;
  margin-top: 1.5%;
  margin-left: 6%;
  font-size: 0.8em;
}

.page .description .info .dore {
  color: #c9ae81;
  font-size: 1.2em;
  font-weight: bold;
}

.page .description .photo_objet span {
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}

@import url(https://fonts.googleapis.com/css?family=Dosis:500);

body {
  background: #f1f1f1;
}

.container {
  margin-top: 10px !important;
}

.timeline {
  position: relative;
}

.timeline li {
  list-style: none;
  float: left;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
}

ul:nth-child(1) {
  color: #000;
}

.timeline li:before {
  content: " ";
  width: 10px;
  height: 10px;
  border: 2px solid #c9ae81;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 50px;
  margin: 0 auto 1px auto;
  background: #ffffff;
  color: #c9ae81;
  transition: all ease-in-out 0.3s;
}

.timeline li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: grey;
  top: 5px;
  left: -50%;
  z-index: -999;
  transition: all ease-in-out 0.3s;
}

.timeline li:first-child:after {
  content: none;
}
.timeline li.active {
  color: #c9ae81;
}
.timeline li.active:before {
  background: #c9ae81;
  color: #f1f1f1;
  width: 20px;
  height: 20px;
  margin-top: -4px;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  width: 100%;
}

.footer .text {
  justify-content: space-around;
  display: flex;
  margin-top: 1%;
}

.footer .text div {
  display: flex;
  flex-direction: column;
}

.footer span {
  color: white;
}

.footer .copyright {
  display: flex;
  justify-content: center;
  font-size: 0.96em;
}

.footer .dore {
  color: #c9ae81;
}

.ital {
  font-style: italic;
}

.bold {
  font-weight: bold;
}
