:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

body {
  background: #212121;
  background: linear-gradient(to right, #1f1f1f, #2b2b2b);
  padding-top: 20vh;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-group-lg > .btn,
.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
#button-login {
  background-color: #c9ae81;
  border-color: #c9ae81;
  color: #fff;
}

a {
  padding-top: 3%;
  display: block;
  text-align: center;
}

#inputEmail1 {
  border-radius: 5rem;
  padding: 1rem;
}

#inputPassword1 {
  border-radius: 5rem;
}

#formsGroupStyle {
  margin-left: 5%;
  margin-right: 5%;
}

#buttonFormStyle {
  margin-left: 40%;
}

#dropdownStyle {
  margin-top: 5%;
}
